.chat-page {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    height: 85vh;
}
.chat-container {
    width: 60vw;
    display: flex;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    background: rgba(120, 120, 120, 0.2);
    backdrop-filter: blur(5px);
}
.users-list {
    width: 20vmax;
    padding: 10px;
    border-right: 1px solid black;
}
.users-list-container {
    height: 100%;
    /* overflow-y: auto; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.users-list-container>div:first-child {
    border-bottom: 1px solid black;
    color: black;
    font-size: 25px;
    font-weight: 600;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
}
.profile-pic {
    padding-right: 0.4vmax;
    padding-bottom: 0.4vmax;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-pic > img{
    width: 4.5vmax;
    height: 4.5vmax;
    object-fit: cover;
    border-radius: 50%;
}
.search-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: rgb(222, 222, 222);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.search-box>input {
    border-radius: 5px;
    padding: 1vmax 0.5vmax;
    outline: none;
    border: none;
    width: 100%;
    box-sizing: border-box;
    font-size: 15px;
    background-color: rgb(222, 222, 222);
}
.search-box>button {
    border-radius: 5px;
    background-color: rgb(222, 222, 222);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-box>button>svg {
    height: 100%;
    width: 100%;
}
.users-list-container>ul {
    overflow-y: auto;
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    gap: 2px;
}
.no-message {
    height: 4vmax;
    display: flex;
    align-items: center;
    border-radius: 5px;
    background: rgba(141, 82, 65, 0.4);
    padding: 0.5vmax;
    color: black;
    font-size: 15px;
}
.no-message:hover {
    background-color: rgba(255, 0, 0, 0.3);
    cursor: pointer;
}
.new-message {
    background: rgba(115, 255, 22, 0.5);
    height: 4vmax;
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 0.5vmax;
    color: white;
    font-size: 15px;
}

.new-message:hover {
    background-color: rgba(153, 255, 0, 0.843);
    cursor: pointer;
    color: black;
}

.friendImage {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.5vmax;
}

.friendImage>img {
    width: 3vmax;
    height: 3vmax;
    object-fit: cover;
    border-radius: 50%;
}

.chat-area {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.7vmax;
    box-sizing: border-box;
    gap: 0.7vmax;
}

.empty-area {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.selected-user-header {
    padding: 0.7vmax;
    border-radius: 5px;
    background: rgba(255, 0, 0, 0.7);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    gap: 0.7vmax;
}
.selected-user-header-profile-image{
    display: flex;
    align-items: center;
    justify-content: center;
}
.selected-user-header-profile-image > img {
    border-radius: 50%;
    width: 3.5vmax;
    height: 3.5vmax;
    object-fit: cover;
}
.selected-user-header-name-and-status > div:first-child{
    color: white;
    font-size: 15px;
    font-weight: 400;
}
.selected-user-header-name-and-status > div:last-child{
    font-size: 9px;
    color: rgba(153, 255, 0);
    font-weight: 400;
}
.attach-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: rgba(255, 70, 0, 0.5);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 5px;
    padding: 10px;
}
.attach-icon>svg {
    font-size: 20px;
}
.attach-icon:hover {
    background-color: rgba(255, 0, 0, 0.715);
}
.message-input-container {
    justify-content: flex-end;
}
.message-input {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}
.message-input input {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    flex: 1;
    padding: 5px;
    box-sizing: border-box;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    outline: none;
    background: rgba(255, 255, 255, 0.5);
}
.image-message-container{
    padding: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: rgba(255, 255, 255, 0.5);
}
.image-message-container > img{
    border-radius: 5px;
    object-fit: cover;
    width: 4vmax;
    height: 4vmax;
}
.message-input button {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    padding: 10px;
    border: none;
    background-color: rgba(255, 70, 0, 0.5);
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.message-input button>svg {
    font-size: 20px;
}

.message-input>button:hover {
    background-color: rgba(255, 0, 0, 0.715);
}

#image-upload {
    display: none;
}

::-webkit-scrollbar {
    width: 0px;
}

@media screen and (max-width: 800px) {
    .chat-container {
        width: 95vw;
    }

    .users-list {
        width: 90px;
        padding: 3px;
    }
    .users-list-container>div:first-child {
        font-size: 15px;
        font-weight: 600;
    }
    .no-message{
        font-size: 12px;
    }
    .new-message{
        font-size: 12px;
    }
    .search-box>input {
        padding: 8px 3px;
        font-size: 13px;
    }

    .empty-area>h1 {
        font-size: 18px;
    }

    .empty-area>p {
        font-size: 12px;
    }
    .message-input {
        gap: 3px;
    }

    .message-input input {
        padding: 8px;
        width: 100%;
    }

    .message-input button {
        padding: 3px;
    }

    .attach-icon {
        padding: 3px;
    }
}