.requests-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.requests-content{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60vw;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    background: rgba(120, 120, 120, 0.2);
    backdrop-filter: blur(5px);
}
.friendRequests-container{
    padding: 1vmax;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    height: 75vh;
    width: 50%;
    border-right: 1px solid black;
}
.friendRequests-container > ul {
    height: 100%;
    box-sizing: border-box;
    width: 100%;
    padding: 0;
    overflow-y: auto;
}
.friendRequests-container > ul > li {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background: rgba(141, 82, 65, 0.4);
    margin: 5px 0;
    border-radius: 5px;
    padding: 0.5vmax;
    height: 4vmax;
}
.friendRequests-container > ul > li > p {
    margin-left: 0.5vmax;
    font-size: 18px;
}
.friendRequests-container > ul > li > img {
    width: 3vmax;
    height: 3vmax;
    border-radius: 50%;
    object-fit: cover;
}
.friendRequests-container > ul > li > button {
    padding: 0.5vmax;
    font-size: 18px;
    border-radius: 5%;
    margin-left: auto;
    border: none;
    background-color: rgba(255, 70, 0, 0.8);
}
.friendRequests-container > ul > li > button:hover {
    background-color: rgba(255, 0, 0, 0.715);
    cursor: pointer;
}
.sentFriendRequests-container{
    padding: 1vmax;
    height: 100%;
    height: 75vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.sentFriendRequests-container > ul {
    height: 100%;
    box-sizing: border-box;
    width: 100%;
    padding: 0;
    overflow-y: auto;
}
.sentFriendRequests-container > ul > li {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background: rgba(141, 82, 65, 0.4);
    margin: 5px 0;
    border-radius: 5px;
    padding: 0.5vmax;
    height: 4vmax;
}
.sentFriendRequests-container > ul > li > p {
    margin-left: 0.5vmax;
    font-size: 18px;
}
.sentFriendRequests-container > ul > li > img {
    width: 3vmax;
    height: 3vmax;
    border-radius: 50%;
    object-fit: cover;
}
.sentFriendRequests-container > ul > li > button {
    padding: 0.5vmax;
    font-size: 18px;
    border-radius: 5%;
    margin-left: auto;
    border: none;
    background-color: rgba(255, 70, 0, 0.8);
}
.sentFriendRequests-container > ul > li > button:hover {
    background-color: rgba(255, 0, 0, 0.715);
    cursor: pointer;
}

